"launch_template_name": "{{ launch_template_name }}"
"jumphost_name": "{{ jumphost_name }}"
"sr_data"
  "vm_hostname": "{{ vm_hostname }}"
  "vm_domain": "{{ vm_domain }}"
"paf_var_dict"
  "affected_host": "{{ affected_host }}"
  "blueid_shortcode: "{{ blueid_shortcode }}"